@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-weight: 800;
    box-sizing: border-box;
}
body {
    background: hsl(220, 22%, 16%);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
body main {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .card {
    max-width: 540px;
    min-height: 333px;
    background: #313a49;
    border-radius: .5em;
    box-shadow: 0 0 100px rgba(0, 0, 0, .5);
    padding: 0px 45px;
}
.card .text {
    width: 100%;
    height: auto;
    text-align: center;
}
.card .text .id {
    margin: 50px 0 40px 0;
}
.card .text .id h1{
    color: hsl(150, 100%, 66%);
    font-size: 15px;
    letter-spacing: 3px;
}
.card .text .desc {
    min-height: 100px;
    margin-top: -20px;
    color: hsl(193, 38%, 86%);
}
.card .divisor {
    margin: 30px 0;
    width: 450px;
    height: auto;
}
.card .button {
    position: absolute;
    left: 15px;
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.card .button button {
    margin:-4px 0 0 -2px;
    width: 65px;
    height: 65px;
    border: 0;
    border-radius: 50%;
    background: hsl(150, 100%, 66%);
    cursor: pointer;
}
.card .button button:hover {
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 25px hsl(150, 100%, 66%),
    0 0 35px hsl(150, 100%, 66%);
}
/* Responsive */
@media (max-width: 560px) {
    main .card {
        width: 375px;
        min-height: 333px;
        border-radius: .5em;
        box-shadow: 0 0 100px rgba(0, 0, 0, .5);
        padding: 0px 45px;
    }

    .card .divisor img {
        width: 285px;
    }
    .card .text .id h1 {
        font-size: 13px;
    }
    .card .text .desc {
        font-size: 20px;
    }
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: white; 
    font-size: 13px; 
    text-decoration: none;
}